@import './variables';

.tags-select-container {
    flex-wrap: wrap;

    .tag-checkbox {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ccc;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-20deg);
        margin: 0.5rem 0.25rem;
        cursor: pointer;
        
        .tag-checkbox-text {
            word-break: break-all;
            color: black;
            font-size: 0.75rem;
            text-align: center;
            margin: 2px;
            padding: 0;
            line-height: 1.1;
            user-select: none;
        }
    }
}

.selected-tag {
    box-shadow: 0px 0px 7px $app-red;
}